:root {
  --marginSize: 5px;
}

.Alert {
  color: #d80000;
}

.Required {
  color: #d80000;
}

.Close {
  color: #d80000;
}

.Absolute {
  position: absolute;
}

.Front {
  z-index: 10;
}

.FadeMessage {
  z-index: 9999;
  width: 100%;
  text-align: right;
}

.Warning {
  font-size: 9px;
  position: absolute;
  border: solid 1px;
  background-color: #FFD700;
  padding: 2px 5px;
  color: #777;
  border-radius: .5em;
}

.Full {
  width: 100%;
}

.HalfTop {
  padding-top: 10px;
}

.Right {
  margin-left: auto;
}

.Line {
  border-top: 1px solid #ccc;
}

.Narrowly {
  margin-bottom: 0;
}

.Stamp {
  background-color: #f1e2aa;
  border-bottom-color: rgb(238, 164, 127);
  color: #000;
}

.StampAddress {
  font-size: 35px;
  color: rgb(238, 164, 127);
  text-align: right;
}

.NoSpace {
  padding: 0;
  margin: 0;
}

.Toggle {
  position: relative;
  top: -21px;
  display: inline-block;
  left: 50%;
  float: none;
  padding: 5px 30px;
  background: #fafafa;
  border: 1px solid #e1e1e8;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.FooterInfo {
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: calc(var(--marginSize) * 10);
  background-color: #f5f5f5;
}

.Info {
  background-color: #f5f5f5;
}

.Disable {
  background-color: #f5f5f5;
}

.Paragraph {
  padding: 5px 15px;
}

.Shift {
  padding-left: 20px;
}

.Gap {
  margin-top: 5px;
}

.HeightFull {
  height: 100%;
}

.Center {
  text-align: center;
}

.Middle {
  display: table-cell;
  vertical-align: middle;
}

.Icon {
  font-size: 80px;
}

.SubIcon {
  font-size: 40px;
}

.Large {
  font-size: 30px;
}

.Strong {
  font-size: 25px;
}

.LittleStrong {
  font-size: 20px;
}

.Normal {
  font-size: 12px;
}

.FontNormal {
  font-weight: normal;
}

.Dark {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.White {
  background-color: rgb(256, 256, 256);
}

.Thin {
  color: rgba(0, 0, 0, .41);
}
