.TalkIcon {
  width: 120px;
}

.TalkImage {
  margin: 15px;
}

.BalloonTalk {
  top: 15px;
}

.Tag {
  margin-left: 5px;
}

.Balloon {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: auto;
  min-width: 115px;
  max-width: 570px;
  line-height: 34px;
  color: #19283c;
  padding: 1px 10px;
  border: 3px solid #19283c;
  font-size: 18px;
}

.Balloon::before {
  position: absolute;
  top: 15px;
  left: -8px;
  z-index: 0;
  display: block;
  width: 0;
  height: 0;
  margin-top: -9px;
  content: "";
  border-color: transparent #f6f6f6 transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
}

.Balloon::after {
  position: absolute;
  top: 15px;
  left: -12px;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  margin-top: -10px;
  content: "";
  border-color: transparent #19283c transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}
