.Stamp {
  background-color: #f1e2aa;
  border-bottom-color: rgb(238, 164, 127);
  color: #000;
}

.StampAddress {
  font-size: 35px;
  color: rgb(238, 164, 127);
  text-align: right;
}

.Full {
  width: 100%;
}

.Title {
  font-size: 55px;
  font-weight: bold;
}

.NoSpace {
  padding: 0;
  margin: 0;
}

.platform > button {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
